# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/

# Environment variables
.env

# OAuth tokens
token.json

# Secrets / Credentials
credentials/
service_account.json
oauth_client_secret.json

# Django
db.sqlite3
media/
staticfiles/
backups/

# Logs
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db